<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahrenheit.celsius.activities"
    android:versionCode="5"
    android:versionName="1.0.2">


    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/celsius_weather_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.celsius.activities.LiveActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.celsius.services.WeatherPullService"
            android:exported="false"/>
        <receiver android:name="com.celsius.recivers.ResponseReceiver" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9ecbc9081c1969bcad78d5a3eaa12bff52f76f78" />
    </application>

</manifest>